@model Nullable<int>
@{ 
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    string actionFiltro = ViewBag.ActionFiltro;
    string actionListar = ViewBag.ActionListar;
    string actionBarraInferior = ViewBag.ActionBarraInferior;
    FormMethod method = actionListar.Equals("Listar") ? FormMethod.Get : FormMethod.Post;
    string carregarLista = ViewBag.CarregarLista.ToString().ToLower();
    bool exibirBarraInferior = ViewBag.BarraInferior;
    string tituloBotaoBarraInferior = ViewBag.tituloBotaoBarraInferior ?? "";
    string acaoBotaoBarraInferior = ViewBag.acaoBotaoBarraInferior ?? "";
 }
<h2>@ViewBag.Title</h2>
<hr />
<div id="divFiltro" class="divFiltro">
    @using (Html.BeginForm(actionListar, controller, method, new { id = "frmFiltro" + controller, @class = "frm-filtro" }))
    {
        <div id="filtrar" class="divFiltro" >
            @Html.Action(actionFiltro)
        </div>
    }
</div>
<div class="panel panel-default" >
    <div class="row panel-body">
        <div id="divLista" data-carregar-lista="@carregarLista" class="col-md-12 form-group">
            @Html.Action("ListaVazia")
        </div>
        @if (exibirBarraInferior == true)
        {
            <div id="divBarraInferior" class="col-xs-12">
                <div class="div-toolbar">
                    @Html.Action(actionBarraInferior)
                </div>
            </div>
        }
     </div>
</div>
<link rel="stylesheet" href="~/assets/css/datatables/jquery.dataTables.css" />
<script type="text/javascript" src="~/assets/scripts/datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Scripts/Base/crudfiltro.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'top'
    });
    CRUDFILTRO.Init();
});
 </script>